<div class="ui container">
  <div class="item ui teal header small"><i class="large teal cubes icon"></i>MyApp</div>

  {{#link-to 'index' class='item'}}Home{{/link-to}}

  <div class="right menu">
    {{#if session.isAuthenticated}}
      {{#ui-dropdown class='item' as |execute|}}
        <i class="circular teal user icon"></i>
        {{sessionAccount.user.fullName}}
        <i class="dropdown icon"></i>

        <div class="menu">
          {{#link-to 'profile' class='item'}}My profile{{/link-to}}
          <a class="item" {{action 'logout'}}>Logout</a>
        </div>
      {{/ui-dropdown}}
    {{else}}
      {{#link-to 'login' class='item'}}Login{{/link-to}}
    {{/if}}
  </div>
</div>