{{main-navigation class='ui stackable fixed top menu'}}

{{outlet}}

<div class="ui text container">
  <div class="ui footer">
    <p class="grey text center">
      &copy; 2017 &ndash; MyApp
    </p>
  </div>
</div>