<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-block">
        <h1 class="card-title">Bootstrap + Ember + Lux boilerplate</h1>
        <p class="lead">
          You can login with the following credentials.
        </p>
        <blockquote>
          <b>Username: </b><i>mail@example.com</i><br>
          <b>Password: </b><i>correct horse battery staple</i>
        </blockquote>
      </div>
    </div>
  </div>
</div>