<div class="ui text container">
  <h2 class="ui header">Ember + Lux boilerplate</h2>
  <div class="ui segment">
    {{#if session.isAuthenticated}}
      <p>
        You are now logged in <i>{{sessionAccount.user.firstName}}</i>!
      </p>
    {{else}}
      <p>
        You can <b>login</b> in the top right corner.
      </p>
    {{/if}}
  </div>
</div>