<div class="ui text container">
  <h2 class="ui header">Ember + Lux boilerplate</h2>
  <div class="ui segment">
    <p>
      This app serves as basic boilerplate for an <a href="https://emberjs.com" target="_blank">Ember</a> + <a href="https://github.com/postlight/lux" target="_blank">Lux</a> application.
    </p>
    <h3>Features</h3>
    <h4>Authentication</h4>
    <p>
      Basic authentication via <a href="https://jwt.io" target="_blank">JWT</a> is provided. <a href="https://github.com/simplabs/ember-simple-auth" target="_blank">Ember-simple-auth</a> and <a href="https://github.com/jpadilla/ember-simple-auth-token" target="_blank">ember-simple-auth-token</a> are used in the client. By default a token is valid for 30 minutes or 7 days when "remember me" is ticked on login. These values can be customized in <code>server/app/utils/constants</code>.
    </p>
    <h4>Models</h4>
    <p>
      A single <code>User</code> model with basic attributes is present in both the server and the client.
    </p>
    <h4>Semantic UI</h4>
    <p>
      <a href="https://semantic-ui.com/" target="_blank">Semantic UI</a> is available in this package. It is only partially imported by default to keep the file size down. You can change which components you want to import in <code>app/styles/semantic-ui.less</code>.
    </p>
    <div class="ui small grey message">
      <div class="header">
        <i class="info icon"></i><b>Note</b>
      </div>
      <p>
        In the current iteration it is necessary to restart ember-cli (<code>ember serve</code>) after changing the <code>app/styles/theme.config</code> file. This will the edited theme file to the correct location: <code>bower_components/semantic-ui/src/theme.confg</code>.
      </p>
    </div>

    <div class="ui section divider"></div>

    {{#if session.isAuthenticated}}
      <p>
        You are now logged in <i>{{sessionAccount.user.firstName}}</i>!
      </p>
    {{else}}
      <p>
        You can <b>login</b> in the top right corner.
      </p>
    {{/if}}
  </div>
</div>