<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-block">
        <h1 class="card-title">Bootstrap + Ember + Lux boilerplate</h1>
        {{#if session.isAuthenticated}}
          <p class="lead">
            You are now logged in <i>{{sessionAccount.user.firstName}}</i>!
          </p>
        {{else}}
          <p class="lead">
            You can login with the following credentials.
          </p>
          <dl class="row">
            <dt class="col-sm-3">Username: </dt>
            <dd class="col-sm-9">mail@example.com</dd>
            <dt class="col-sm-3">Password: </dt>
            <dd class="col-sm-9">correct horse battery staple</dd>
          </dl>
        {{/if}}
      </div>
    </div>
  </div>
</div>